
<!DOCTYPE html>
<html>
<head>
  <title> </title>
  <link rel="stylesheet" href="users.scss">
</head>
<body>


<div class="sign">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="col-lg-2">
    <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Name</label><br>
        <%= f.text_field :name, class:"name", autofocus: true, id:"inputName", placeholder:"名前"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Email</label><br>
        <%= f.email_field :email,class:"email", id:"inputEmail", placeholder:"メールアドレス"%>
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Password</label><br>
        <%= f.password_field :password,class:"password", autocomplete: "off", id:"inputPassword", placeholder:"パスワード" %>
        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Password</label><br>
        <%= f.password_field :password_confirmation,class:"password_confirm", autocomplete: "off", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
         <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
    </div>


    <div class="actions">
      <%= f.submit "Sign Up", class:"btn btn-success col-md-12" %>
    </div>
<%= render "devise/shared/links" %>
  </div>
    


    <% end %>
</body>
</div>
</html>
