<%= render 'users/template',  user: @user, book: @boook %>


<%= flash[:notice] %>

<h1>Book detail</h1>
 <div class="col-lg-9">
 <table class="table table-striped">
  <theado

  </thead>
  <tbody>
     <tr>
     	  <td>
     <span> 
      <%= attachment_image_tag @user, :image, format: 'jpeg',fallback:"No_image.jpg",class: "iimg" %>
     </span>
   </td>
      <td><span><%= @book.title %></span></td>
      <td><span><%= @book.body %></span></td>
      <td><span><% if @book.user == current_user %><%=link_to "edit",edit_book_path(@book.id),class:"edit_book_#{@book.id}" %><% end %>
      <td><span><% if @book.user == current_user %><%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？",class:"destroy_book_#{@book.id}"%><% end %>
      </span>
  </td>
     </tr>
   </tbody>
 </table>

</div>
</div>
</div>