
<!DOCTYPE html>
<html>
<head>
  <title> </title>
  <link rel="stylesheet" href="users.scss">
</head>
<body>
<div class="log">
<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="col-lg-2">
    <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Name</label><br>
        <%= f.text_field :name,class:"name", autofocus: true, class:"form-control", id:"inputName", placeholder:"名前"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>
    <div class="form-group has-icon">
      <label class="control-label sr-only" for="inputEmail">Password</label><br>
      <%= f.password_field :password,class:"password", autocomplete: "off", class:"form-control", id:"inputEmail", placeholder:"パスワード" %>
      <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
    </div>
      
    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-success col-md-12" %>
    </div>
<%= render "devise/shared/links" %>

  </div>
<% end %> 


</body>
</div>
</html>
